<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student List</title>
</head>
<body>
<h1>Student List</h1>
<a th:href="@{'/student/add'}">Add Student</a>
<form th:action="${'/students'}" th:object="${keyword}" method="get" style="border-radius: 999999px">
    <input type="text" placeholder="Search by name" name="keyword">
    <button type="submit">Search</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year of Birth</th>
        <th>GPA</th>
        <th>Major</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${studentList}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.yob}"></td>
        <td th:text="${s.gpa}"></td>
        <td th:text="${s.major.name}"></td>
        <td>
            <a th:href="@{'/student/edit/'+${s.id}}">Edit</a>
            <a th:href="@{'/student/delete/'+${s.id}}"
               onclick="return confirm('Are you sure you want to delete this student?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<script>

</script>
</body>
</html>